*.*
*
!*/
!Makefile
!*.mk
!*.[cSh]
!*.v
!*.sv
!*.cc
!*.cpp
!*.hpp
!*.scala
!.gitignore
!build.sbt
!README.md
build/
obj_dir/**/*
obj_dir
project
target
.bloop
.bsp
.cache
.metals
.vscode
generated_svsrc/
!prog/*.data
!csrc/*.*
!include/**/*
